
@import         "node_modules/bootstrap/scss/mixins";
@import         "node_modules/bootstrap/scss/functions";
@import         "node_modules/bootstrap/scss/variables";

/*Css Colors Variables Start*/
  $theme-main-color-1         :                      red;    
  $theme-main-color-2         :                      red; 
  $theme-main-color-3         :                      red;  
  $gold-color                 :                      white; 
  $facebook-color             :                      #3b5998;  
  $twitter-color              :                      #1da1f2;
  $youtube-color              :                      #ff0000; 
  $instagrammagenta-color     :                      #c32aa3; 
  $instagramblue-color        :                      #4c5fd7;             
  $instagrampurple-color      :                      #7232bd;
  $instagramorange-color      :                      #f46f30;
  $instagramyellow-color      :                      #ffdc7d;
  $googleblue-color           :                      #4285f4;
  $googlered-color            :                      #ea4335; 
  $googleyellow-color         :                      #fbbc05; 
  $googlegreen-color          :                      #34a853; 
  $pinterest-color            :                      #bd081c;
  $googleplus-color           :                      #db4437;
  $linkedin-color             :                      #007bb5;
  $vimeoblue-color            :                      #1ab7ea;
  $tumblr-color               :                      #2c4762;
  $snapchat-color             :                      #fffc00;
  $whatsappgreen-color        :                      #25d366;
  $whatsappteal1-color        :                      #075e54;
  $whatsappteal2-color        :                      #128c7e;
  $apple-color                :                      #a6b1b7;
  $amazon-color               :                      #ff9900;
  $microsoftred-color         :                      #f35022;
  $microsoftgreen-color       :                      #80bb03;
  $microsoftblue-color        :                      #03a5f0;
  $microsoftyellow-color      :                      #ffb903;
  $foursquarepink-color       :                      #f94877; 
  $foursquarenavy-color       :                      #073282;
  $foursquareblue-color       :                      #2d5be3; 
  $swarm-color                :                      #ffa633;
  $medium-color               :                      #02b875;
  $skypeblue-color            :                      #00aff0;
  $skypedkblue-color          :                      #0078d7;
  $android-color              :                      #a4c639;
  $stumbleupon-color          :                      #e94826;
  $flickrpink-color           :                      #f40083;
  $flickrblue-color           :                      #006add;
  $yahoo-color                :                      #430297;
  $soundcloud-color           :                      #ff5500;
  $spotifygreen-color         :                      #1ed760;
  $spotifydarkgreen-color     :                      #1db954;
  $dribbble-color             :                      #ea4c89;
  $slackpurple-color          :                      #4d394b; 
  $slackskyblue-color         :                      #70cadb; 
  $slackmosss-color           :                      #3eb890; 
  $slackpink-color            :                      #e01765; 
  $slackyellow-color          :                      #e8a723; 
  $slackgreenblue-color       :                      #1a937d;
  $slackviolet-color          :                      #472a49; 
  $slackolive-color           :                      #65863a; 
  $slackred-color             :                      #cc2027; 
  $reddit-color               :                      #ff5700;
  $deviantart-color           :                      #05cc47;
  $pocket-color               :                      #ee4056;
  $quora-color                :                      #aa2200;
  $quorablue-color            :                      #2b6dad;
  $slideshareorange-color     :                      #e68523;
  $slideshareblue-color       :                      #00a0dc;
  $fivehundredpx-color        :                      #0099e5;
  $vk-color                   :                      #4a76a8;
  $listlyorange-color         :                      #df6d46;
  $listlyblue-color           :                      #52b1b3;
  $vine-color                 :                      #00b489;
  $steam-color                :                      #171a21;
  $discord-color              :                      #7289da;
   
  
  $colors: () !default;
  $colors: map-merge((
    'theme-main-color-1 '     :                    $theme-main-color-1,
    'theme-main-color-2 '     :                    $theme-main-color-2,
    'theme-main-color-3 '     :                    $theme-main-color-3,
    'gold-color'              :                    $gold-color,
    'facebook-color'          :                    $facebook-color,
    'twitter-color'           :                    $twitter-color ,
    'youtube-color'           :                    $youtube-color,
    'instagrammagenta-color'  :                    $instagrammagenta-color,
    'instagramblue-color'     :                    $instagramblue-color ,
    'instagrampurple-color'   :                    $instagrampurple-color,  
    'instagramorange-color'   :                    $instagramorange-color,  
    'instagramyellow-color'   :                    $instagramyellow-color , 
    'googleblue-color'        :                    $googleblue-color ,  
    'googlered-color'         :                    $googlered-color, 
    'googleyellow-color'      :                    $googleyellow-color,  
    'googlegreen-color'       :                    $googlegreen-color ,
    'pinterest-color'         :                    $pinterest-color ,
    'googleplus-color'        :                    $googleplus-color  ,
    'linkedin-color'          :                    $linkedin-color ,
    'vimeoblue-color'         :                    $vimeoblue-color ,
    'tumblr-color'            :                    $tumblr-color ,
    'snapchat-color'          :                    $snapchat-color,  
    'whatsappgreen-color'     :                    $whatsappgreen-color ,
    'whatsappteal1-color'     :                    $whatsappteal1-color,  
    'whatsappteal2-color'     :                    $whatsappteal2-color,  
    'apple-color'             :                    $apple-color,  
    'amazon-color'            :                    $amazon-color,  
    'microsoftred-color'      :                    $microsoftred-color,  
    'microsoftgreen-color'    :                    $microsoftgreen-color,  
    'microsoftblue-color'     :                    $microsoftblue-color ,
    'microsoftyellow-color'   :                    $microsoftyellow-color, 
    'foursquarepink-color'    :                    $foursquarepink-color , 
    'foursquarenavy-color'    :                    $foursquarenavy-color ,
    'foursquareblue-color'    :                    $foursquareblue-color , 
    'swarm-color'             :                    $swarm-color ,
    'medium-color'            :                    $medium-color,  
    'skypeblue-color'         :                    $skypeblue-color ,
    'skypedkblue-color'       :                    $skypedkblue-color ,
    'android-color'           :                    $android-color,  
    'stumbleupon-color'       :                    $stumbleupon-color,  
    'flickrpink-color'        :                    $flickrpink-color,  
    'flickrblue-color'        :                    $flickrblue-color,  
    'yahoo-color'             :                    $yahoo-color,  
    'soundcloud-color'        :                    $soundcloud-color ,
    'spotifygreen-color'      :                    $spotifygreen-color ,  
    'spotifydarkgreen-color'  :                    $spotifydarkgreen-color ,
    'dribbble-color'          :                    $dribbble-color,  
    'slackpurple-color'       :                    $slackpurple-color,   
    'slackskyblue-color'      :                    $slackskyblue-color,   
    'slackmosss-color'        :                    $slackmosss-color,   
    'slackpink-color'         :                    $slackpink-color,   
    'slackyellow-color'       :                    $slackyellow-color,   
    'slackgreenblue-color'    :                    $slackgreenblue-color,  
    'slackviolet-color'       :                    $slackviolet-color,   
    'slackolive-color'        :                    $slackolive-color,   
    'slackred-color'          :                    $slackred-color,   
    'reddit-color'            :                    $reddit-color ,
    'deviantart-color'        :                    $deviantart-color ,
    'pocket-color'            :                    $pocket-color,  
    'quora-color'             :                    $quora-color,  
    'quorablue-color'         :                    $quorablue-color ,
    'slideshareorange-color'  :                    $slideshareorange-color ,
    'slideshareblue-color'    :                    $slideshareblue-color ,
    'fivehundredpx-color'     :                    $fivehundredpx-color ,
    'vk-color'                :                    $vk-color,  
    'listlyorange-color'      :                    $listlyorange-color,  
    'listlyblue-color'        :                    $listlyblue-color,  
    'vine-color'              :                    $vine-color,  
    'steam-color'             :                    $steam-color,  
    'discord-color'           :                    $discord-color, 
 
  ), $colors);


  $main-1                     :                    $theme-main-color-1;
  $main-2                     :                    $theme-main-color-2;
  $main-3                     :                    $theme-main-color-3;
  $gold                       :                    $gold-color!default;
  $facebook                   :                    $facebook-color!default;
  $twitter                    :                    $twitter-color !default;
  $youtube                    :                    $youtube-color!default;
  $instagrammagenta           :                    $instagrammagenta-color!default;
  $instagramblue              :                    $instagramblue-color !default;
  $instagrampurple            :                    $instagrampurple-color!default;  
  $instagramorange            :                    $instagramorange-color!default;  
  $instagramyellow            :                    $instagramyellow-color !default; 
  $googleblue                 :                    $googleblue-color !default;  
  $googlered                  :                    $googlered-color!default; 
  $googleyellow               :                    $googleyellow-color!default;  
  $googlegreen                :                    $googlegreen-color !default;
  $pinterest                  :                    $pinterest-color !default;
  $googleplus                 :                    $googleplus-color  !default;
  $linkedin                   :                    $linkedin-color !default;
  $vimeoblue                  :                    $vimeoblue-color !default;
  $tumblr                     :                    $tumblr-color !default;
  $snapchat                   :                    $snapchat-color!default;  
  $whatsappgreen              :                    $whatsappgreen-color !default;
  $whatsappteal1              :                    $whatsappteal1-color!default;  
  $whatsappteal2              :                    $whatsappteal2-color!default;  
  $apple                      :                    $apple-color!default;  
  $amazon                     :                    $amazon-color!default;  
  $microsoftred               :                    $microsoftred-color!default;  
  $microsoftgreen             :                    $microsoftgreen-color!default;  
  $microsoftblue              :                    $microsoftblue-color !default;
  $microsoftyellow            :                    $microsoftyellow-color !default;  
  $foursquarepink             :                    $foursquarepink-color !default; 
  $foursquarenavy             :                    $foursquarenavy-color !default;
  $foursquareblue             :                    $foursquareblue-color !default; 
  $swarm                      :                    $swarm-color !default;
  $medium                     :                    $medium-color!default;  
  $skypeblue                  :                    $skypeblue-color !default;
  $skypedkblue                :                    $skypedkblue-color !default;
  $android                    :                    $android-color!default;  
  $stumbleupon                :                    $stumbleupon-color!default;  
  $flickrpink                 :                    $flickrpink-color!default;  
  $flickrblue                 :                    $flickrblue-color!default;  
  $yahoo                      :                    $yahoo-color!default;  
  $soundcloud                 :                    $soundcloud-color !default;
  $spotifygreen               :                    $spotifygreen-color !default;  
  $spotifydarkgreen           :                    $spotifydarkgreen-color !default;
  $dribbble                   :                    $dribbble-color!default;  
  $slackpurple                :                    $slackpurple-color!default;   
  $slackskyblue               :                    $slackskyblue-color!default;   
  $slackmosss                 :                    $slackmosss-color!default;   
  $slackpink                  :                    $slackpink-color!default;   
  $slackyellow                :                    $slackyellow-color!default;   
  $slackgreenblue             :                    $slackgreenblue-color!default;  
  $slackviolet                :                    $slackviolet-color!default;   
  $slackolive                 :                    $slackolive-color!default;   
  $slackred                   :                    $slackred-color!default;   
  $reddit                     :                    $reddit-color !default;
  $deviantart                 :                    $deviantart-color !default;
  $pocket                     :                    $pocket-color!default;  
  $quora                      :                    $quora-color!default;  
  $quorablue                  :                    $quorablue-color !default;
  $slideshareorange           :                    $slideshareorange-color !default;
  $slideshareblue             :                    $slideshareblue-color !default;
  $fivehundredpx              :                    $fivehundredpx-color !default;
  $vk                         :                    $vk-color!default;  
  $listlyorange               :                    $listlyorange-color!default;  
  $listlyblue                 :                    $listlyblue-color!default;  
  $vine                       :                    $vine-color!default;  
  $steam                      :                    $steam-color!default;  
  $discord                    :                    $discord-color!default; 
 
  
   
  $theme-colors: () !default;
  $theme-colors: map-merge((
    'main-1 '                 :                    $theme-main-color-1,
    'main-2 '                 :                    $theme-main-color-2,
    'main-3 '                 :                    $theme-main-color-3,
    'gold'                    :                    $gold-color,
    'facebook'                :                    $facebook-color,
    'twitter'                 :                    $twitter-color ,
    'youtube'                 :                    $youtube-color,
    'instagrammagenta'        :                    $instagrammagenta-color,
    'instagramblue'           :                    $instagramblue-color ,
    'instagrampurple'         :                    $instagrampurple-color,  
    'instagramorange'         :                    $instagramorange-color,  
    'instagramyellow'         :                    $instagramyellow-color , 
    'googleblue'              :                    $googleblue-color ,  
    'googlered'               :                    $googlered-color, 
    'googleyellow'            :                    $googleyellow-color,  
    'googlegreen'             :                    $googlegreen-color ,
    'pinterest'               :                    $pinterest-color ,
    'googleplus'              :                    $googleplus-color  ,
    'linkedin'                :                    $linkedin-color ,
    'vimeoblue'               :                    $vimeoblue-color ,
    'tumblr'                  :                    $tumblr-color ,
    'snapchat'                :                    $snapchat-color,  
    'whatsappgreen'           :                    $whatsappgreen-color ,
    'whatsappteal1'           :                    $whatsappteal1-color,  
    'whatsappteal2'           :                    $whatsappteal2-color,  
    'apple'                   :                    $apple-color,  
    'amazon'                  :                    $amazon-color,  
    'microsoftred'            :                    $microsoftred-color,  
    'microsoftgreen'          :                    $microsoftgreen-color,  
    'microsoftblue'           :                    $microsoftblue-color , 
    'microsoftyellow'         :                    $microsoftyellow-color, 
    'foursquarepink'          :                    $foursquarepink-color , 
    'foursquarenavy'          :                    $foursquarenavy-color ,
    'foursquareblue'          :                    $foursquareblue-color , 
    'swarm'                   :                    $swarm-color ,
    'medium'                  :                    $medium-color,  
    'skypeblue'               :                    $skypeblue-color ,
    'skypedkblue'             :                    $skypedkblue-color ,
    'android'                 :                    $android-color,  
    'stumbleupon'             :                    $stumbleupon-color,  
    'flickrpink'              :                    $flickrpink-color,  
    'flickrblue'              :                    $flickrblue-color,  
    'yahoo'                   :                    $yahoo-color,  
    'soundcloud'              :                    $soundcloud-color ,
    'spotifygreen'            :                    $spotifygreen-color ,  
    'spotifydarkgreen'        :                    $spotifydarkgreen-color ,
    'dribbble'                :                    $dribbble-color,  
    'slackpurple'             :                    $slackpurple-color,   
    'slackskyblue'            :                    $slackskyblue-color,   
    'slackmosss'              :                    $slackmosss-color,   
    'slackpink'               :                    $slackpink-color,   
    'slackyellow'             :                    $slackyellow-color,   
    'slackgreenblue'          :                    $slackgreenblue-color,  
    'slackviolet'             :                    $slackviolet-color,   
    'slackolive'              :                    $slackolive-color,   
    'slackred'                :                    $slackred-color,   
    'reddit'                  :                    $reddit-color ,
    'deviantart'              :                    $deviantart-color ,
    'pocket'                  :                    $pocket-color,  
    'quora'                   :                    $quora-color,  
    'quorablue'               :                    $quorablue-color ,
    'slideshareorange'        :                    $slideshareorange-color ,
    'slideshareblue'          :                    $slideshareblue-color ,
    'fivehundredpx'           :                    $fivehundredpx-color ,
    'vk'                      :                    $vk-color,  
    'listlyorange'            :                    $listlyorange-color,  
    'listlyblue'              :                    $listlyblue-color,  
    'vine'                    :                    $vine-color,  
    'steam'                   :                    $steam-color,  
    'discord'                 :                    $discord-color, 
  
  ), $theme-colors);
/*Css Colors Variables End*/
 



// stylelint-disable selector-no-qualifying-type
 
$enable-rounded               :                    false;
$enable-shadows               :                    false;
/*Css General Variables Start*/
$body-bg                      :                    $white;
$body-color                   :                    $dark; 
/*Css General Variables End*/

/*Body Font Family Start*/
$font-family-sans-serif       :                    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-monospace        :                    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-base             :                    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
/*Body Font Family End*/

/*Links Style Start*/
$link-color                   :                    darken($primary, 0%);
$link-decoration              :                    none;
$link-hover-color             :                    darken($primary, 25%);
$link-hover-decoration        :                    underline;
/*Links Style End*/

 /*Font Size Style Start*/
$font-size-base               :                   1rem; // Assumes the browser default, typically `16px`
$font-size-lg                 :                   ($font-size-base * 1.25);
$font-size-sm                 :                   ($font-size-base * .875);
/*Font Size Style Start*/

$font-weight-light            :                    300;
$font-weight-normal           :                    400;
$font-weight-bold             :                    700;

$font-weight-base             :                    $font-weight-normal;
$line-height-base             :                    1.7;

$h1-font-size                 :                    $font-size-base * 2.5;
$h2-font-size                 :                    $font-size-base * 2;
$h3-font-size                 :                    $font-size-base * 1.75;
$h4-font-size                 :                    $font-size-base * 1.5;
$h5-font-size                 :                    $font-size-base * 1.25;
$h6-font-size                 :                    $font-size-base;

$headings-margin-bottom       :                    1rem;
$headings-font-family         :                    "Segoe UI Symbol";
$headings-font-weight         :                    600;
$headings-line-height         :                    1;
$headings-color               :                    inherit;


// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-btn-padding-y          :                    .375rem;
$input-btn-padding-x          :                    .75rem;
$input-btn-line-height        :                    $line-height-base;

$input-btn-focus-width        :                    .2rem;
$input-btn-focus-color        :                    rgba($component-active-bg, .25);
$input-btn-focus-box-shadow   :                    none;

$input-btn-padding-y-sm       :                    .25rem;
$input-btn-padding-x-sm       :                    .5rem;
$input-btn-line-height-sm     :                    $line-height-sm;

$input-btn-padding-y-lg       :                    .5rem;
$input-btn-padding-x-lg       :                    1rem;
$input-btn-line-height-lg     :                    $line-height-lg;


// Forms

$label-margin-bottom:                   .5rem;

$input-padding-y:                       $input-btn-padding-y;
$input-padding-x:                       $input-btn-padding-x;
$input-line-height:                     $input-btn-line-height;

$input-padding-y-sm:                    $input-btn-padding-y-sm;
$input-padding-x-sm:                    $input-btn-padding-x-sm;
$input-line-height-sm:                  $input-btn-line-height-sm;

$input-padding-y-lg:                    $input-btn-padding-y-lg;
$input-padding-x-lg:                    $input-btn-padding-x-lg;
$input-line-height-lg:                  $input-btn-line-height-lg;

$input-bg:                              $white;
$input-disabled-bg:                     $gray-200;

$input-color:                           $gray-700;
$input-border-color:                    $gray-200;
$input-border-width:                    $input-btn-border-width;
$input-box-shadow:                      none;

$input-border-radius:                   $border-radius;
$input-border-radius-lg:                $border-radius-lg;
$input-border-radius-sm:                $border-radius-sm;

$input-focus-bg:                        $input-bg;
$input-focus-border-color:              $primary;
$input-focus-color:                     $input-color;
$input-focus-width:                     $input-btn-focus-width;
$input-focus-box-shadow:                none;

$input-placeholder-color:               $dark;
$input-plaintext-color:                 $body-color;

$input-height-border:                   $input-border-width * 2;

$input-transition:                      border-color .15s ease-in-out, box-shadow .15s ease-in-out;

$form-text-margin-top:                  .25rem;


// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

$btn-padding-y:               $input-btn-padding-y;
$btn-padding-x:               $input-btn-padding-x;
$btn-line-height:             $input-btn-line-height;

$btn-padding-y-sm:            $input-btn-padding-y-sm;
$btn-padding-x-sm:            $input-btn-padding-x-sm;
$btn-line-height-sm:          $input-btn-line-height-sm;

$btn-padding-y-lg:            $input-btn-padding-y-lg;
$btn-padding-x-lg:            $input-btn-padding-x-lg;
$btn-line-height-lg:          $input-btn-line-height-lg;

$btn-border-width:            0;

$btn-font-weight:             $font-weight-normal;
$btn-box-shadow:              none;
$btn-focus-width:             $input-btn-focus-width;
$btn-focus-box-shadow:        none;
$btn-disabled-opacity:        .65;
$btn-active-box-shadow:      none;

$btn-link-disabled-color:     $gray-600;

$btn-block-spacing-y:         .5rem;

// Allows for customizing button radius independently from global border radius
$btn-border-radius:           0;
$btn-border-radius-lg:        0;
$btn-border-radius-sm:        0;

$btn-transition:              color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;


// Modals

// Padding applied to the modal body
$modal-inner-padding:               1rem;

$modal-dialog-margin:               .5rem;
$modal-dialog-margin-y-sm-up:       1.75rem;

$modal-title-line-height:           $line-height-base;

$modal-content-bg:                  $white;
$modal-content-border-color:        transparent;
$modal-content-border-width:        0;
$modal-content-border-radius:       0;
$modal-content-box-shadow-xs:       none;
$modal-content-box-shadow-sm-up:    none;

$modal-backdrop-bg:                 $black;
$modal-backdrop-opacity:            0.8;
$modal-header-border-color:         $gray-200;
$modal-footer-border-color:         $modal-header-border-color;
$modal-header-border-width:         $modal-content-border-width;
$modal-footer-border-width:         $modal-header-border-width;
$modal-header-padding:              1rem;

$modal-lg:                          800px;
$modal-md:                          500px;
$modal-sm:                          300px;

$modal-transition:                  transform .3s ease-out;

@import         "node_modules/bootstrap/scss/bootstrap";
@import         "node_modules/owl.carousel/src/scss/owl.carousel.scss"; 
@import         "node_modules/owl.carousel/src/scss/owl.theme.default.scss";
@import         "node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.css";
 
@import         "node_modules/@fortawesome/fontawesome-free-webfonts/scss/fontawesome"; 


// Variables
// -------------------------- 
 